.navbar-fixed-top, .dropdown-menu, footer, #main{
    background-color: #9f693e;
}

.nav-pills .nav-link.active, .dropdown-item.active, .nav-pills .show>.nav-link, .dropdown-item:active, .nav-tabs .nav-link.active, .dropdown-item:hover, .nav-tabs .nav-link:hover{
    background-color: #97472f;
    border-color: #97472f;
    border-radius: 5px;
}

#cc{
    border-bottom: 0;
    border-radius: 5px;
    background-color: #795348;
}

body{
    background-color: #d1a982;
}

.blockquote-footer::before{
    color: #889189;
}

::-webkit-scrollbar-thumb {
    background: #97472f;
}

::-webkit-scrollbar-thumb:hover {
    background: #bb4d2c;
}

::-webkit-scrollbar-track {
    background: #795348;
}

li, p,.dropdown-menu>li>a, footer, .navbar-inverse .navbar-nav > li > a{
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: rgb(219, 219, 219);
}

#return-to-top {
    background: #97472f;
}

#return-to-top:hover {
    background: #bb4d2c;
}