body{
    background-color: white;
}

.navbar-fixed-top, .dropdown-menu{
    background-color: #277589;
}

.nav-pills .nav-link.active, .dropdown-item.active, .nav-pills .show>.nav-link, .dropdown-item:active, .nav-tabs .nav-link.active{
    background-color: #644f4f;
}
.dropdown-item:hover{
    background-color: #644f4f;
}

#index{
    padding: 3%;
    position: relative;
    height: 100vh;
    font-size: 300%;
    margin: 0;
    margin-bottom: 20vh;
}
.head1{
    font-size: 90%;
}

.bg{
    width: 80%;
    position: relative;
    left: 0;
    right: 0;
    padding-bottom: 3%;
}

.border{
    border: 0 !important;
    border-right:1px solid #277589 !important;
}

li,.dropdown-menu>li>a, footer, .navbar-inverse .navbar-nav > li > a{
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: rgb(219, 219, 219);
}

.row, .p, h3{
    color: #277589;
    font-size: 65%;
}

footer {
    background-color: #277589;
}

.blockquote-footer::before{
    color: #277589;
}

#myBtn {
    background-color: #6b2a2a;
    color: white;
}

#myBtn:hover {
    background-color: #643939;
}

::-webkit-scrollbar-thumb {
    background: #633434;
}

::-webkit-scrollbar-thumb:hover {
    background: #8f3131;
}

::-webkit-scrollbar-track {
    background: #644f4f;
}

@media screen and (max-width:575px) {
    .border{
        border: 0 !important;
        border-bottom:1px solid #277589 !important;
        border-right:0 !important;
    }

    #index{
        font-size: 200%;
    }
}

