.navbar-fixed-top, .dropdown-menu, footer, #main{
    background-color: #ee9f1f;
}

.nav-pills .nav-link.active, .dropdown-item.active, .nav-pills .show>.nav-link, .dropdown-item:active, .nav-tabs .nav-link.active, .dropdown-item:hover, .nav-tabs .nav-link:hover{
    background-color: #f16a23;
    border-color: #f16a23;
    border-radius: 5px;
}

#cc{
    border-bottom: 0;
    border-radius: 5px;
    background-color: #e08655;
}

body{
    background-color: #f4ddbb;
}

.blockquote-footer::before{
    color: #05072b;
}

::-webkit-scrollbar-thumb {
    background: #f16a23;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff5900;
}

::-webkit-scrollbar-track {
    background: #e08655;
}

li, p,.dropdown-menu>li>a, footer, .navbar-inverse .navbar-nav > li > a{
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: rgb(219, 219, 219);
}

#return-to-top {
    background: #f16a23;
}

#return-to-top:hover {
    background: #ff5900;
}