.navbar-fixed-top, .dropdown-menu{
    background-color: #333333;
}

.nav-pills .nav-link.active, .dropdown-item.active, .nav-pills .show>.nav-link, .dropdown-item:active, .nav-tabs .nav-link.active{
    background-color: #e9c791;
}
.dropdown-item:hover{
    background-color: #e9c791;
}

#main{
    background-color: #333333;
}

body{
    background-color: white;
}

footer {
    background-color: #333333;
}

.blockquote-footer::before{
    color: #333333;
}

#myBtn {
    background-color: #cc9133;
    color: white;
}

#myBtn:hover {
    background-color: #e9c791;
}

::-webkit-scrollbar-thumb {
    background: #cc9133;
}

::-webkit-scrollbar-thumb:hover {
    background: #eb9e22;
}

::-webkit-scrollbar-track {
    background: #e9c791;
}

li, p,.dropdown-menu>li>a, footer, .navbar-inverse .navbar-nav > li > a{
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: rgb(219, 219, 219);
}