.navbar-fixed-top, .dropdown-menu, footer, #main, .navbar-toggler{
    background-color: #1D6A96;
}

.nav-pills .nav-link.active, .dropdown-item.active, .nav-pills .show>.nav-link, .dropdown-item:active, .nav-tabs .nav-link.active, .dropdown-item:hover, .nav-tabs .nav-link:hover{
    background-color: #273b42;
    border-color: #273b42;
    border-radius: 5px;
}

#cc{
    border-bottom: 0;
    border-radius: 5px;
    background-color: #606b6e;
}

body{
    background-color: #85b8cb;
}

.blockquote-footer::before{
    color: #1D6A96;
}

::-webkit-scrollbar-thumb {
    background: #273b42;
}

::-webkit-scrollbar-thumb:hover {
    background: #416e7e;
}

::-webkit-scrollbar-track {
    background: #606b6e;
}

li, p,.dropdown-menu>li>a, footer, .navbar-inverse .navbar-nav > li > a{
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: rgb(219, 219, 219);
}

#return-to-top {
    background: #273b42;
}

#return-to-top:hover {
    background: #416e7e;
}