.navbar-fixed-top, .dropdown-menu{
    background-color: #2e1b66;
}

.nav-pills .nav-link.active, .dropdown-item.active, .nav-pills .show>.nav-link, .dropdown-item:active, .nav-tabs .nav-link.active, .dropdown-item:hover, .nav-tabs .nav-link:hover{
    background-color: #c1825b;
    border-color: #c1825b;
    border-radius: 5px;
}

#cc{
    border-bottom: 0;
    border-radius: 5px;
    background-color: #e0b69b;
}

#main{
    background-color: #2e1b66;
}

body{
    background-color: #8070af;
}

footer {
    background-color: #2e1b66;
}

.blockquote-footer::before{
    color: #2e1b66;
}

#myBtn {
    background-color: #c1825b;
    color: white;
}

#myBtn:hover {
    background-color: #e0b69b;
}

::-webkit-scrollbar-thumb {
    background: #c1825b;
}

::-webkit-scrollbar-thumb:hover {
    background: #e48246;
}

::-webkit-scrollbar-track {
    background: #e0b69b;
}

li, p,.dropdown-menu>li>a, footer, .navbar-inverse .navbar-nav > li > a{
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: rgb(219, 219, 219);
}

#return-to-top {
    background: #c1825b;
}

#return-to-top:hover {
    background: #e48246;
}