.navbar-fixed-top, .dropdown-menu{
    background-color: #d6b948;
}

.nav-pills .nav-link.active, .dropdown-item.active, .nav-pills .show>.nav-link, .dropdown-item:active, .nav-tabs .nav-link.active{
    background-color: #644f4f;
    border-radius: 5px;
}
.dropdown-item:hover{
    background-color: #644f4f;
    border-radius: 5px;
}

#main{
    background-color: #3f6c6e;
}

body{
    background-color: #e0d9be;
}

footer{
    background-color: #d6b948;
}

.blockquote-footer::before{
    color: #d6b948;
}

#myBtn {
    background-color: #6b2a2a;
    color: white;
}

#myBtn:hover {
    background-color: #643939;
}

::-webkit-scrollbar-thumb {
    background: #633434;
}

::-webkit-scrollbar-thumb:hover {
    background: #8f3131;
}

::-webkit-scrollbar-track {
    background: #644f4f;
}

li, p,.dropdown-menu>li>a, footer, .navbar-inverse .navbar-nav > li > a{
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: rgb(219, 219, 219);
}