.navbar-fixed-top, .dropdown-menu, footer, #main{
    background-color: #e28731;
}

.nav-pills .nav-link.active, .dropdown-item.active, .nav-pills .show>.nav-link, .dropdown-item:active, .nav-tabs .nav-link.active, .dropdown-item:hover, .nav-tabs .nav-link:hover{
    background-color: #f1a223;
    border-color: #f1a223;
    border-radius: 5px;
}

#cc{
    border-bottom: 0;
    border-radius: 5px;
    background-color: #f0b962;
}

body{
    background-color: #f4dbbb;
}

.blockquote-footer::before{
    color: #05072b;
}

::-webkit-scrollbar-thumb {
    background: #f1a223;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffbc51;
}

::-webkit-scrollbar-track {
    background: #b87f24;
}

li, p,.dropdown-menu>li>a, footer, .navbar-inverse .navbar-nav > li > a{
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: rgb(219, 219, 219);
}

#return-to-top {
    background: #f1a223;
}

#return-to-top:hover {
    background: #ffbc51;
}