html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    z-index: 500;
    font-family: 'Prompt', sans-serif;
    /* background-image: url(https://scontent.fbkk6-2.fna.fbcdn.net/v/t1.0-1/p240x240/26903943_907729689392329_3488043223134455956_n.jpg?_nc_cat=101&_nc_eui2=AeF6n27XaBYMe_oZrbo-igVBkDoQ4PgchpF-9XqxEW_btvRc-jprm7czV92AsKfYlXmg8epU4Wn_m32JGKj4mAoTXs1gS1t6ePzNj6nquUH0ww&_nc_oc=AQn0OkAJHASL_HgGh5u2mmglHsNVT4xe3558HwkCFQZnITsZjvYydKoD46zZvdmtRrI&_nc_ht=scontent.fbkk6-2.fna&oh=8c8080ff463ced6a47e297f528c83a9b&oe=5E2935EF); */
}

#homeicon,
.dropdown-toggle:hover, .nav-tabs .nav-link:hover {
    cursor: pointer;
}
.padd{
    padding-right: 1%;
    margin: 0;
    color: white;
}

.nav-link:hover{
    color: rgb(161, 159, 159);    
}

.nav-pills .nav-link.active, .dropdown-item.active, .dropdown-item:active, .dropdown-item:hover{
    border-radius: 5px;
}

.nav-link, .dropdown-item{
    transition: 0.4s;
}

#homeicon {
    z-index: 5001;
    width: 30px;
    height: 30px;
}

#icon {
    z-index: 5001;
    width: 30px;
    height: 30px;
}

#main {
    padding: 3%;
    top: 8vh;
    position: relative;
    width: 80%;
    height: 100vh;
    margin-left: 10%;
    margin-bottom: 20vh;
    border-radius: 35px;
    z-index: 700;
}
.nav-tabs .nav-link.active, a, .nav-tabs .nav-link:hover{
    color: white;
}
#myBtn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 10px;
    /* z-index: 99; */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 22px;
    z-index: 5000;
}

#part{
    width: 90%;
}

.carousel-inner, #part{
    border-radius: 15px;
    height: 45vh;
}

.carousel-control-next:hover, .carousel-control-prev:hover{
    background-color: rgba(133, 133, 133, 0.534);
    transition: 0.4s;
}

.carousel-control-next, .carousel-control-prev{
    transition: 0.4s;
}
.carousel-control-prev:hover{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.carousel-control-next:hover{
    border-top-right-radius: 15px;
    border-top-right-radius: 15px;
}

.photo {
    width: 100%;
    height: 45vh !important;
}


#myBtn:hover {
    transition: 0.5s;
    /* Chang background color on hover */
}

.item {
    width: 100%;
    height: 50vh;
}

.head1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.head2,
li {
    font-size: 20px;
}

p {
    font-size: 20px;
    margin: 5px;
    word-wrap: break-word;
    color: white;
}

b {
    font-size: 22px;
}

li, .nav-pills , .nav-pills:hover{
    color: white;
}

.dropdown-menu>li>a{
    border-radius: 5px;
}

footer{
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}

.other, .other_p{
    font-size: 175%;
    color: white;
    padding-top: 20%;
    padding-bottom: 15%;
}
.other:hover{
    color: white;
    cursor: pointer;
}

.photo_other{
    width: 85%;
    height: 85%;
    max-width: 350px;
    max-height: 350px;
    border-radius: 300px;
    border: white 3px solid;
}

.container{
    width: 75%;
    position: relative;
    left: 0;
    right: 0;
}

::-webkit-scrollbar {
    width: 0.75%;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
}

@media screen and (max-width:600px) {
    #main{
        font-size: 60%;
    }
}

@media screen and (max-height:900px) {
    .photo {
        width: 100%;
        height: 25vh !important;
    }
    .carousel-inner, #part{
        border-radius: 15px;
        height: 25vh;
    }
    #part{
        width: 100%;
    }
    #main{
        font-size: 70%;
        width: 100%;
        margin-left: 0;
    }
}