
*{
    transition: 1.25s;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    z-index: 500;
    font-family: 'Prompt', sans-serif;
    /* background-image: url(https://scontent.fbkk6-2.fna.fbcdn.net/v/t1.0-1/p240x240/26903943_907729689392329_3488043223134455956_n.jpg?_nc_cat=101&_nc_eui2=AeF6n27XaBYMe_oZrbo-igVBkDoQ4PgchpF-9XqxEW_btvRc-jprm7czV92AsKfYlXmg8epU4Wn_m32JGKj4mAoTXs1gS1t6ePzNj6nquUH0ww&_nc_oc=AQn0OkAJHASL_HgGh5u2mmglHsNVT4xe3558HwkCFQZnITsZjvYydKoD46zZvdmtRrI&_nc_ht=scontent.fbkk6-2.fna&oh=8c8080ff463ced6a47e297f528c83a9b&oe=5E2935EF); */
}

#homeicon,
.dropdown-toggle:hover {
    cursor: pointer;
}

#homeicon {
    z-index: 5001;
    top: 1%;
    right: 5%;
    position: fixed;
    width: 30px;
    height: 30px;
}

#icon {
    z-index: 5001;
    width: 30px;
    height: 30px;
}

.navbar-brand{
    padding-top: 10px;
}

#main {
    padding: 3%;
    top: 12vh;
    position: relative;
    width: 80%;
    height: 100vh;
    margin-left: 10%;
    border-radius: 35px;
    z-index: 700;
}

#myBtn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 10px;
    /* z-index: 99; */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 22px;
    transition: 0.5s;
    z-index: 5000;
}


#myBtn:hover {
    transition: 0.5s;
    /* Chang background color on hover */
}

.item {
    width: 100%;
    height: 50vh;
}

.photo {
    margin: auto;
    left: 0;
    right: 0;
    display: block;
    width: 100% !important;
    height: 100% !important;
}

.head1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.head2,
li {
    font-size: 20px;
}

p {
    font-size: 20px;
    margin: 5px;
    word-wrap: break-word;
    color: white;
}

b {
    font-size: 22px;
}

li {
    color: white;
}

.dropdown-menu>li>a{
    border-radius: 5px;
}

footer{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.carousel-inner,.carousel-control{
    border-radius: 15px;
    height: 45vh;
}

.other, .other_p{
    font-size: 200%;
    color: white;
}
.other:hover{
    color: white;
    cursor: pointer;
}

.photo_other{
    width: 75% !important;
    height: 75% !important;
    max-width: 350px;
    max-height: 350px;
    border-radius: 300px;
    border: white 3px solid;
}

.container{
    width: 75%;
    position: relative;
    left: 0;
    right: 0;
}

::-webkit-scrollbar {
    width: 0.75%;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
}

@media screen and (max-width:600px) {
    #main{
        font-size: 80%;
    }
}

@media screen and (max-height:900px) {
    .carousel-inner,.carousel-control{
        height: 20vh;
    }
    .container{
        width: 95%;
    }
}