.container-fluid, .dropdown-menu{
    background-color: #889189;
}

#main{
    background-color: #1C4E2A;
}

body{
    background-color: #e0d9be;
}

footer {
    background-color: #889189;
}

#myBtn {
    background-color: #000000;
    color: white;
}

#myBtn:hover {
    background-color: rgb(85, 84, 84)
}

::-webkit-scrollbar-thumb {
    background: #889189;
}

::-webkit-scrollbar-thumb:hover {
    background: #9bc9a1;
}

::-webkit-scrollbar-track {
    background: #6d6d6d;
}

li, p,.dropdown-menu>li>a, footer, .navbar-inverse .navbar-nav > li > a{
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: rgb(219, 219, 219);
}